body{
    filter: saturate(100%);
    filter:sepia(0.1);
}

#pozadina{
    background-color: #050210;
    width: 1000px;
    height: 700px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #55fb9f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#krug1{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: linear-gradient(#fb5dad , #55fb9f, #b97aff);
    animation-name: rotate_gradient;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    box-shadow: -2px 10px 70px #b97aff  , 0px 0px 70px #55fb9f, 0px -10px 70px #fb5dad ;
    position: relative;
    z-index: 1;
}
@keyframes rotate_gradient {
    from{
        transform: rotateZ(0deg);
    } to{
        transform: rotateZ(360deg);
    }
}

#krug2{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #050210;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


#krug3{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #08021d;
    animation-name: pulse_circle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
@keyframes pulse_circle {

    from{
        transform: translate(-50%, -50%) scale(0);
        
    }
    to{
        transform: translate(-50%, -50%) scale(1);
        
    }
    
}




